.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: color .8s ease;
}

.khan__buy-link:hover {
  color: rgba(49, 130, 237, 0.6);
}